<section class="container" style='background: #A4B494'>
	<h1 class="title" style='text-align: center;font-size: 70px;padding-bottom: 15px; color: #34252F'>My Blog</h1>
</section>
<section class="section" style='background: #34657F;'>
	<div  class="container" style="text-align: center;padding-bottom: 15px">
		<h2 class="title" style='text-align: center; color: white;padding-top: 10px;'>All Posts</h2>
		<%= link_to "Create New Post" , new_post_path, class: "button is-rounded is-primary"%>
	</div>
</section>
<section class="section">
	<div class="container">
	<% @posts.each do |post| %>
	<div class="card">
	    <div class="card-content">
			<div class="media">
				<div class="media-content">
					<p class="title"> <%= link_to post.title ,post %></p>
				</div>
			</div>
			<div class="content">
				<%= post.content  %>
			</div>
			<!-- <div class="comment-count">
				<spam class="tag is-rounded">
				
				</spam>
			</div> -->
		</div>
    </div>
    <%end%>
	</div>
</section>
