<h1 class="title">Blog Posts</h1>
<h2 class="title"> <%= link_to "Create New Post" , new_post_path %> </h2>
<section class="section">
	<div class="container">
	<% @posts.each do |post| %>
	<div class="card">
	    <div class="card-content">
			<div class="media">
				<div class="media-content">
					<p class="title"> <%= link_to post.title ,post %></p>
				</div>
			</div>
			<div class="content">
				<%= post.content  %>
			</div>
			<!-- <div class="comment-count">
				<spam class="tag is-rounded">
				
				</spam>
			</div> -->
		</div>
    </div>
    <%end%>
	</div>
</section>
